<table cellspacing="0">
        <thead>
            <tr>
                <th>模型</th>
                <th>训练频率</th>
                <th>预存经验数据量</th>
                <th>从经验池取样数量</th>
                <th>学习率</th>
                <th>衰减因子</th>
                <th>激活函数</th>
                <th>第一层的输出维数</th>
                <th>第二层的输出维数</th>
                <th>探索值</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <script>
        // 1.先去准备好学生的数据
        var datas = [
            {
                name: 'model_1',
                learn_factor: 5,
                memory_warmup_size: 20,
                batch_size: 8,
                learning_rate: 0.001,
                gamma: 0.99,
                functions: 'sigmoid',
                hid1_size: 128,
                hid2_size: 256,
                observation: 2
            },
            {
                name: 'model_2',
                learn_factor: 8,
                memory_warmup_size: 30,
                batch_size: 6,
                learning_rate: 0.002,
                gamma: 0.9,
                functions: 'sigmoid',
                hid1_size: 128,
                hid2_size: 256,
                observation: 5
            },
            {
                name: 'model_3',
                learn_factor: 13,
                memory_warmup_size: 30,
                batch_size: 12,
                learning_rate: 0.001,
                gamma: 0.99,
                functions: 'relu',
                hid1_size: 256,
                hid2_size: 128,
                observation: 2
            },
            {
                name: 'model_4',
                learn_factor: 16,
                memory_warmup_size: 40,
                batch_size: 11,
                learning_rate: 0.005,
                gamma: 0.95,
                functions: 'relu',
                hid1_size: 128,
                hid2_size: 128,
                observation: 10
            },
            {
                name: 'model_5',
                learn_factor: 20,
                memory_warmup_size: 20,
                batch_size: 10,
                learning_rate: 0.001,
                gamma: 0.91,
                functions: 'relu',
                hid1_size: 128,
                hid2_size: 256,
                observation: 10
            }
        ];

        // 2.往tbody 里面创建行：有几个人（通过数组的长度） 我们就创建几行
        var tbody = document.querySelector('tbody');
        for (var i = 0; i < 2; i++) {
            // 1.创建行
            var tr = document.createElement('tr');
            tbody.appendChild(tr);
            // 2.行里面创建单元格(跟数据有关系的3个单元格) td 单元格的数量取决于每个对象里面的属性个数 for循环遍历对象
            for (var k in datas[i]) {  // 里面的for循环管列 td
                // 创建单元格
                var td = document.createElement('td');
                // 把对象里面的属性值 datas[i][k] 给 td
                // console.log(datas[i][k]);
                td.innerHTML = datas[i][k];
                tr.appendChild(td);
            }
        }

        // 4.删除操作 开始
        var as = document.querySelectorAll('a');
        for (var i = 0; i < as.length; i++) {
            as[i].onclick = function () {
                // 点击 a 删除当前a所在的行 node.removeChild(child)
                tbody.removeChild(this.parentNode.parentNode);
            }
        }
    </script>