<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>login UI</title>
    <link rel="stylesheet" href="../static/show.css">

</head>
<body>
    <div class="box">
            <h2>合成大西瓜深度学习网页</h2>
      <div align="center">
          <br>
    <a href="login.html"><input   type="submit" name="" value="查看奖励值折线图" ></a>
    </div>
      <div align="center">
          <br>
    <a><input   type="submit" name="" value="查看分数折线图" ></a>
    </div>
      <div align="center">
          <br>
    <a><input   type="submit" name="" value="查看选择图" ></a>
    </div>
	</div>
    </body>
</html>
