<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>login UI</title>
    <link rel="stylesheet" href="../static/show.css">

</head>
<body>
    <div class="box">
            <h2>合成大西瓜深度学习网页</h2>
      <div align="center">
          <br>
    <a href="http://127.0.0.1:5000/line_reward"><input   type="submit" name="" value="查看奖励值折线图" ></a>
    </div>
      <div align="center">
          <br>
    <a href="http://127.0.0.1:5000/line_score"><input   type="submit" name="" value="查看分数折线图" ></a>
    </div>
      <div align="center">
          <br>
    <a href="http://127.0.0.1:5000/position_action_time"><input   type="submit" name="" value="查看action时间图" ></a>
    </div>
      <div align="center">
          <br>
    <a href="http://127.0.0.1:5000/bar_action_count"><input   type="submit" name="" value="查看action统计图" ></a>
    </div>
	</div>
    </body>
</html>
